<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import numpy as np
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# your code goes here
df = df.drop_duplicates()
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

Verify if duplicates were actually dropped.

In [5]:
# your code goes here
df.duplicated().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [53]:
# your code goes here
missing_data = df.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Respondent
False    10589
Name: Respondent, dtype: int64

MainBranch
False    10589
Name: MainBranch, dtype: int64

Hobbyist
False    10589
Name: Hobbyist, dtype: int64

OpenSourcer
False    10589
Name: OpenSourcer, dtype: int64

OpenSource
False    10514
True        75
Name: OpenSource, dtype: int64

Employment
False    10589
Name: Employment, dtype: int64

Country
False    10589
Name: Country, dtype: int64

Student
False    10548
True        41
Name: Student, dtype: int64

EdLevel
False    10485
True       104
Name: EdLevel, dtype: int64

UndergradMajor
False    9889
True      700
Name: UndergradMajor, dtype: int64

EduOther
False    10430
True       159
Name: EduOther, dtype: int64

OrgSize
False    10496
True        93
Name: OrgSize, dtype: int64

DevType
False    10528
True        61
Name: DevType, dtype: int64

YearsCode
False    10580
True         9
Name: YearsCode, dtype: int64

Age1stCode
False    10578
True        11
Name: Age1stCode, dtype: int64

YearsCodePro
False    10574
True        15
Name: YearsCodePro, dtype: int64

CareerSat
False    10589
Name: CareerSat, dtype: int64

JobSat
False    10588
True         1
Name: JobSat, dtype: int64

MgrIdiot
False    10106
True       483
Name: MgrIdiot, dtype: int64

MgrMoney
False    10103
True       486
Name: MgrMoney, dtype: int64

MgrWant
False    10106
True       483
Name: MgrWant, dtype: int64

JobSeek
False    10589
Name: JobSeek, dtype: int64

LastHireDate
False    10589
Name: LastHireDate, dtype: int64

LastInt
False    10193
True       396
Name: LastInt, dtype: int64

FizzBuzz
False    10554
True        35
Name: FizzBuzz, dtype: int64

JobFactors
False    10586
True         3
Name: JobFactors, dtype: int64

ResumeUpdate
False    10553
True        36
Name: ResumeUpdate, dtype: int64

CurrencySymbol
False    10589
Name: CurrencySymbol, dtype: int64

CurrencyDesc
False    10589
Name: CurrencyDesc, dtype: int64

CompTotal
False    10589
Name: CompTotal, dtype: int64

CompFreq
False    10583
True         6
Name: CompFreq, dtype: int64

ConvertedComp
False    10582
True         7
Name: ConvertedComp, dtype: int64

WorkWeekHrs
False    10545
True        44
Name: WorkWeekHrs, dtype: int64

WorkPlan
False    10470
True       119
Name: WorkPlan, dtype: int64

WorkChallenge
False    10430
True       159
Name: WorkChallenge, dtype: int64

WorkRemote
False    10581
True         8
Name: WorkRemote, dtype: int64

WorkLoc
False    10589
Name: WorkLoc, dtype: int64

ImpSyn
False    10585
True         4
Name: ImpSyn, dtype: int64

CodeRev
False    10588
True         1
Name: CodeRev, dtype: int64

CodeRevHrs
False    8314
True     2275
Name: CodeRevHrs, dtype: int64

UnitTests
False    10563
True        26
Name: UnitTests, dtype: int64

PurchaseHow
False    10399
True       190
Name: PurchaseHow, dtype: int64

PurchaseWhat
False    10553
True        36
Name: PurchaseWhat, dtype: int64

LanguageWorkedWith
False    10579
True        10
Name: LanguageWorkedWith, dtype: int64

LanguageDesireNextYear
False    10463
True       126
Name: LanguageDesireNextYear, dtype: int64

DatabaseWorkedWith
False    10147
True       442
Name: DatabaseWorkedWith, dtype: int64

DatabaseDesireNextYear
False    9569
True     1020
Name: DatabaseDesireNextYear, dtype: int64

PlatformWorkedWith
False    10188
True       401
Name: PlatformWorkedWith, dtype: int64

PlatformDesireNextYear
False    10052
True       537
Name: PlatformDesireNextYear, dtype: int64

WebFrameWorkedWith
False    9236
True     1353
Name: WebFrameWorkedWith, dtype: int64

WebFrameDesireNextYear
False    9018
True     1571
Name: WebFrameDesireNextYear, dtype: int64

MiscTechWorkedWith
False    8495
True     2094
Name: MiscTechWorkedWith, dtype: int64

MiscTechDesireNextYear
False    9184
True     1405
Name: MiscTechDesireNextYear, dtype: int64

DevEnviron
False    10561
True        28
Name: DevEnviron, dtype: int64

OpSys
False    10557
True        32
Name: OpSys, dtype: int64

Containers
False    10510
True        79
Name: Containers, dtype: int64

BlockchainOrg
False    8426
True     2163
Name: BlockchainOrg, dtype: int64

BlockchainIs
False    8135
True     2454
Name: BlockchainIs, dtype: int64

BetterLife
False    10494
True        95
Name: BetterLife, dtype: int64

ITperson
False    10557
True        32
Name: ITperson, dtype: int64

OffOn
False    10551
True        38
Name: OffOn, dtype: int64

SocialMedia
False    10308
True       281
Name: SocialMedia, dtype: int64

Extraversion
False    10570
True        19
Name: Extraversion, dtype: int64

ScreenName
False    10119
True       470
Name: ScreenName, dtype: int64

SOVisit1st
False    10289
True       300
Name: SOVisit1st, dtype: int64

SOVisitFreq
False    10584
True         5
Name: SOVisitFreq, dtype: int64

SOVisitTo
False    10588
True         1
Name: SOVisitTo, dtype: int64

SOFindAnswer
False    10586
True         3
Name: SOFindAnswer, dtype: int64

SOTimeSaved
False    10539
True        50
Name: SOTimeSaved, dtype: int64

SOHowMuchTime
False    8759
True     1830
Name: SOHowMuchTime, dtype: int64

SOAccount
False    10588
True         1
Name: SOAccount, dtype: int64

SOPartFreq
False    9527
True     1062
Name: SOPartFreq, dtype: int64

SOJobs
False    10583
True         6
Name: SOJobs, dtype: int64

EntTeams
False    10584
True         5
Name: EntTeams, dtype: int64

SOComm
False    10589
Name: SOComm, dtype: int64

WelcomeChange
False    10506
True        83
Name: WelcomeChange, dtype: int64

SONewContent
False    8694
True     1895
Name: SONewContent, dtype: int64

Age
False    10361
True       228
Name: Age, dtype: int64

Gender
False    10519
True        70
Name: Gender, dtype: int64

Trans
False    10470
True       119
Name: Trans, dtype: int64

Sexuality
False    10092
True       497
Name: Sexuality, dtype: int64

Ethnicity
False    9996
True      593
Name: Ethnicity, dtype: int64

Dependents
False    10468
True       121
Name: Dependents, dtype: int64

SurveyLength
False    10570
True        19
Name: SurveyLength, dtype: int64

SurveyEase
False    10575
True        14
Name: SurveyEase, dtype: int64

NormalizedAnnualCompensation
False    10589
Name: NormalizedAnnualCompensation, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [7]:
# your code goes here
df['WorkLoc'].isnull().value_counts()

False    11366
True        32
Name: WorkLoc, dtype: int64

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [8]:
# your code goes here
df['WorkLoc'].isnull().value_counts()

False    11366
True        32
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [9]:
#make a note of the majority value here, for future reference
df.WorkLoc.mode()

0    Office
dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [10]:
# your code goes here
df["WorkLoc"].fillna("Office", inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [12]:
# your code goes here
df['WorkLoc'].isnull().value_counts()

False    11398
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [37]:
# your code goes here
dft = df["CompFreq"].unique()
list = dft.tolist()
list

['Yearly', 'Monthly', 'Weekly', nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [52]:
# your code goes here

freq = df["CompFreq"].tolist()
total = df["CompTotal"].tolist()
count = 0

for new_data in freq:
   
    if new_data == "Monthly":
        total[count] = 12*total[count]
        
    elif new_data == "Weekly":
        total[count] = 52*total[count]
    
    count += 1   
 
df['NormalizedAnnualCompensation'] = total
df = df[df['NormalizedAnnualCompensation'].notna()]
df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head(50)

   CompFreq  CompTotal  NormalizedAnnualCompensation
0    Yearly    61000.0                       61000.0
1    Yearly   138000.0                      138000.0
2    Yearly    90000.0                       90000.0
3   Monthly    29000.0                      348000.0
4    Yearly    90000.0                       90000.0
5   Monthly     9500.0                      114000.0
6   Monthly     3000.0                       36000.0
7    Yearly   103000.0                      103000.0
8    Yearly    69000.0                       69000.0
9   Monthly     8000.0                       96000.0
10  Monthly     7000.0                       84000.0
11   Yearly   114000.0                      114000.0
12   Weekly     2000.0                      104000.0
13   Weekly    22000.0                     1144000.0
14  Monthly    96000.0                     1152000.0
15   Yearly   156000.0                      156000.0
16   Yearly    18000.0                       18000.0
17  Monthly     6400.0                       76800.0
18  Monthly     5000.0                       60000.0
19   Yearly   400000.0                      400000.0
20   Yearly    47300.0                       47300.0
21  Monthly    51500.0                      618000.0
22   Yearly   345000.0                      345000.0
23   Yearly    85000.0                       85000.0
24   Yearly   107000.0                      107000.0
25   Yearly    66000.0                       66000.0
26   Yearly    76800.0                       76800.0
27   Yearly    50000.0                       50000.0
28   Yearly   800000.0                      800000.0
29   Yearly    75000.0                       75000.0
30  Monthly    18000.0                      216000.0
31   Yearly   100000.0                      100000.0
32   Yearly  1250000.0                     1250000.0
33   Yearly    30000.0                       30000.0
34   Yearly   550000.0                      550000.0
36  Monthly   700000.0                     8400000.0
37  Monthly    40000.0                      480000.0
38  Monthly     9000.0                      108000.0
39  Monthly    11000.0                      132000.0
40  Monthly   100000.0                     1200000.0
41   Yearly    50000.0                       50000.0
42   Yearly    33000.0                       33000.0
43   Yearly   110000.0                      110000.0
44   Yearly    66750.0                       66750.0
45   Yearly   300000.0                      300000.0
46   Weekly    67800.0                     3525600.0
47   Yearly   155000.0                      155000.0
48  Monthly    25000.0                      300000.0
49   Yearly   100000.0                      100000.0
51   Yearly    70000.0                       70000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ).